# Shortcut to frontend-vault folder
alias fe="cd ~/confluent/frontend-vault"

# Login to Vault
alias login-vault="vault login -method=oidc -path=okta"

# Get latest git master state
alias gitref="git fetch --tags origin && git checkout master && git reset --hard origin/master"
